<a href="https://colab.research.google.com/github/SerenSevim/serensevim.github.io/blob/main/Feature_Engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
house = pd.read_csv("house.csv", index_col=0)
house.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [ ]:
house.dtypes

MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
Street            object
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 80, dtype: object

In [ ]:
house.MSSubClass = house.MSSubClass.astype("str")
house.dtypes

In [ ]:
house.describe()

,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,1460.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,46.549315,567.240411,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,161.319273,441.866955,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,0.000000,223.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,0.000000,477.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,0.000000,808.000000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,1474.000000,2336.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [ ]:
house.isnull().sum().sum()

6965

In [ ]:
miss_percent =  house.isnull().mean()
miss_percent

MSSubClass       0.000000
MSZoning         0.000000
LotFrontage      0.177397
LotArea          0.000000
Street           0.000000
                   ...
MoSold           0.000000
YrSold           0.000000
SaleType         0.000000
SaleCondition    0.000000
SalePrice        0.000000
Length: 80, dtype: float64

In [ ]:
drop_cols = list(miss_percent[miss_percent > 0.1].index)
drop_cols

['LotFrontage', 'Alley', 'FireplaceQu', 'PoolQC', 'Fence', 'MiscFeature']

In [ ]:
df_drop_cols = house.drop(drop_cols, axis = 1) 
print(df_drop_cols.shape)

(1460, 74)

In [ ]:
df_drop_cols.isnull().sum().sum()

609

In [ ]:
df_without_na = df_drop_cols.dropna()
print(df_without_na.shape)

(1338, 74)

In [ ]:
df_without_na_dummy = pd.get_dummies(df_without_na, drop_first=True)
print(df_without_na_dummy.shape)

(1338, 240)

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import r2_score

X = df_without_na_dummy.drop("SalePrice", axis = 1)
y = df_without_na_dummy["SalePrice"]

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size  = 0.2,
                                                    random_state = 42)

mdl = LinearRegression()

scores = cross_val_score(mdl, X_train, y_train, cv = 10)

mdl.fit(X_train, y_train)
ypred = mdl.predict(X_test)
r2 = r2_score(y_test,ypred)

results = pd.DataFrame([], columns = ["r2 mean", "r2 std", "r2 test"])

results.loc["Without NA"] = [scores.mean(), scores.std(), r2]
results

             r2 mean    r2 std   r2 test
Without NA  0.547436  0.574908  0.380075

In [ ]:
miss_percent = df_drop_cols.isnull().mean()
miss_percent[miss_percent > 0]

MasVnrType      0.005479
MasVnrArea      0.005479
BsmtQual        0.025342
BsmtCond        0.025342
BsmtExposure    0.026027
BsmtFinType1    0.025342
BsmtFinType2    0.026027
Electrical      0.000685
GarageType      0.055479
GarageYrBlt     0.055479
GarageFinish    0.055479
GarageQual      0.055479
GarageCond      0.055479
dtype: float64

In [ ]:
df_drop_cols.MasVnrType = df_drop_cols.MasVnrType.fillna("None")
df_drop_cols.MasVnrArea = df_drop_cols.MasVnrArea.fillna(0)
df_drop_cols.BsmtQual = df_drop_cols.BsmtQual.fillna("None")
df_drop_cols.BsmtCond = df_drop_cols.BsmtCond.fillna("None")
df_drop_cols.BsmtExposure = df_drop_cols.BsmtExposure.fillna("None")
df_drop_cols.BsmtFinType1 = df_drop_cols.BsmtFinType1.fillna("None")
df_drop_cols.BsmtFinType2 = df_drop_cols.BsmtFinType2.fillna("None")
df_drop_cols.Electrical = df_drop_cols.Electrical.fillna("None") 
df_drop_cols.GarageType = df_drop_cols.GarageType.fillna("None")
df_drop_cols.GarageYrBlt = df_drop_cols.GarageYrBlt.fillna(0)
df_drop_cols.GarageFinish = df_drop_cols.GarageFinish.fillna("None")
df_drop_cols.GarageQual = df_drop_cols.GarageQual.fillna("None")
df_drop_cols.GarageCond = df_drop_cols.GarageCond.fillna("None")

In [ ]:
df_drop_cols_dummy = pd.get_dummies(df_drop_cols, drop_first=True)
print(df_drop_cols_dummy.shape)

X = df_drop_cols_dummy.drop("SalePrice", axis = 1)
y = df_drop_cols_dummy["SalePrice"]

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size  = 0.2,
                                                    random_state = 42)

scores = cross_val_score(mdl, X_train, y_train, cv = 10)

mdl.fit(X_train, y_train)
ypred = mdl.predict(X_test)
r2 = r2_score(y_test,ypred)

results.loc["Fill NA"] = [scores.mean(), scores.std(), r2]
results

(1460, 255)

             r2 mean    r2 std   r2 test
Without NA  0.547436  0.574908  0.380075
Fill NA     0.588745  0.419368  0.643133

In [ ]:
df_drop_cols["LotFrontage"] = house.LotFrontage.fillna(0)
df_drop_cols["Alley"] = house.Alley.fillna("None")
df_drop_cols["FireplaceQu"] = house.FireplaceQu.fillna("None")
df_drop_cols["PoolQC"] = house.PoolQC.fillna("None")
df_drop_cols["Fence"] = house.Fence.fillna("None")
df_drop_cols["MiscFeature"] = house.MiscFeature.fillna("None")
print(df_drop_cols.shape)

(1460, 80)

In [ ]:
df_drop_cols_dummy = pd.get_dummies(df_drop_cols, drop_first=True)
print(df_drop_cols_dummy.shape)

X = df_drop_cols_dummy.drop("SalePrice", axis = 1)
y = df_drop_cols_dummy["SalePrice"]

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size  = 0.2,
                                                    random_state = 42)

scores = cross_val_score(mdl, X_train, y_train, cv = 10)

mdl.fit(X_train, y_train)
ypred = mdl.predict(X_test)
r2 = r2_score(y_test,ypred)

results.loc["Full Data"] = [scores.mean(), scores.std(), r2]
results

(1460, 274)

             r2 mean    r2 std   r2 test
Without NA  0.547436  0.574908  0.380075
Fill NA     0.588745  0.419368  0.643133
Full Data   0.123984  0.756375 -0.115897

In [ ]:
r2_score(y_train, mdl.predict(X_train))

0.9405889752829465

In [ ]:
df_new = df_drop_cols.copy()

In [ ]:
df_new.MSSubClass.value_counts()

In [ ]:
category_percent = df_new.MSSubClass.value_counts()/len(df_new)
category_percent

In [ ]:
category = list(category_percent[category_percent < 0.01].index)
category

['45', '180', '40']

In [ ]:
df_new.MSSubClass = df_new.MSSubClass.replace(category, "Other")
df_new.MSSubClass.value_counts()/len(df_new)

In [ ]:
df_new_dummy = pd.get_dummies(df_new, drop_first=True)
print(df_new_dummy.shape)

X = df_new_dummy.drop("SalePrice", axis = 1)
y = df_new_dummy["SalePrice"]

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size  = 0.2,
                                                    random_state = 42)

scores = cross_val_score(mdl, X_train, y_train, cv = 10)

mdl.fit(X_train, y_train)
ypred = mdl.predict(X_test)
r2 = r2_score(y_test,ypred)

results.loc["MSSubClass Simple"] = [scores.mean(), scores.std(), r2]
results

(1460, 272)

                    r2 mean    r2 std   r2 test
Without NA         0.547436  0.574908  0.380075
Fill NA            0.588745  0.419368  0.643133
Full Data          0.123984  0.756375 -0.115897
MSSubClass Simple  0.129578  0.752395 -0.110499

In [ ]:
category_cols = [col for col in df_new.columns if df_new[col].dtype == "O"]
category_cols

In [ ]:
for col in category_cols:
    category_percent = df_new[col].value_counts()/len(df_new)
    category = list(category_percent[category_percent < 0.01].index)
    if len(category) > 1:
        df_new[col] = df_new[col].replace(category, "Other")

In [ ]:
df_new_dummy = pd.get_dummies(df_new, drop_first=True)
print(df_new_dummy.shape)

X = df_new_dummy.drop("SalePrice", axis = 1)
y = df_new_dummy["SalePrice"]

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size  = 0.2,
                                                    random_state = 42)

scores = cross_val_score(mdl, X_train, y_train, cv = 10)

mdl.fit(X_train, y_train)
ypred = mdl.predict(X_test)
r2 = r2_score(y_test,ypred)

results.loc["All Category Simple"] = [scores.mean(), scores.std(), r2]
results

(1460, 217)

                      r2 mean    r2 std   r2 test
Without NA           0.547436  0.574908  0.380075
Fill NA              0.588745  0.419368  0.643133
Full Data            0.123984  0.756375 -0.115897
MSSubClass Simple    0.129578  0.752395 -0.110499
All Category Simple  0.750350  0.177566  0.869965